*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}
a{
    text-decoration: none;
}
.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* background: rgb(196, 67, 67); */
    background: url("../IMG/9028cd4dfc833d4b39b2293b99ecf4c2.jpg") no-repeat ;
    background-size: cover;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    
    
}

.home{
    padding: 20px;
    
    font-size: 30px;
    font-weight: 900;
    /* background-image: url("../IMG/9028cd4dfc833d4b39b2293b99ecf4c2.jpg"); */
    color: transparent;
    -webkit-text-stroke: 2px #c0d9d9;
}
.nav{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    list-style: none;
    height: 70px;
    
    
}

.nav li {
    /* position: relative; */
     margin: 10px;
    padding: 20px;
    
}
.nav li a, .nav li i{
    color: rgb(243, 239, 239);
    font-size: 20px;
    transition: 0.6s;
}
.nav li:hover a,.nav li:hover i{
    font-size: 25px;
    /* padding: 20px; */
    color: rgb(0, 2, 0);
    /* background-color: rgb(240, 250, 250); */
    /* box-shadow: 1px 2px; */
}




.produc-child{
    /* padding-top:21px ; */
    list-style: none;
    
    visibility: hidden;
    position: absolute;
    top: 81px;
    transition: all 0.5s ease-in;
    opacity: 0;
    
    
    
   
}

.produc-child li{
   margin: 0;
   width: 100%;
    /* padding: 20px; */
    border: 1px solid #888;
    background-color:rgba(196, 67, 67,0.3) ;
    
    
}
.produc-child li:hover a{
    color: aliceblue;
}

.nav li:hover .produc-child {
    /* display: block; */
    opacity: 1;
    visibility: visible;
  
    background: url("../IMG/9028cd4dfc833d4b39b2293b99ecf4c2.jpg") no-repeat ;
    background-size: cover;
}


.note{
    margin-top: 200px;
}