*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: sans-serif;
}


.nav{
    display: flex;
    justify-content: flex-end;
    list-style: none;
    height: 70px;
    background: linear-gradient(rgb(117, 108, 159), rgb(220, 220, 163));
    
}

.nav li {
    padding: 30px;
    transition: 0.5s;
    position: relative;
    
}
.nav li a{
    color: black;
    font-size: 20px;
}
a{
    text-decoration: none;
}

.produc-child{
    padding-top: 18px;
    list-style: none;
    display: none;
    position: absolute;
    transition: all 2s;
    transition-delay: 2s;
   
}

.produc-child li{
    background: rgb(196, 190, 70);
    padding: 30px;
    border: 1px solid #888;
    width: 100px;
    
}

.nav li:hover .produc-child {
    display: block;
}